.header {
    background-color: #343a40;
    padding: 10px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
}

.nav-pills .nav-link {
    color: rgba(255, 255, 255, 0.75);
    transition: color 0.3s;
}

.nav-pills .nav-link:hover,
.nav-pills .nav-link.active {
    color: white;
}

.nav-pills .nav-item {
    margin-left: 10px;
}

.btn-link {
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
}

.btn-link:hover {
    color: white;
}

.loggo {
    width: 60px !important;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .header .container {
        flex-direction: column;
        text-align: center;
    }
    
 
    
    .nav-pills .nav-item {
        margin-left: 0;
        margin-top: 10px;
    }
    
    .nav-pills .nav-link {
        font-size: 1rem;
    }
    
    .btn-link {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .logo {
        font-size: 1rem;
    }
    
    .nav-pills .nav-link {
        font-size: 0.875rem;
    }
    
    .btn-link {
        font-size: 0.875rem;
    }
    
    .loggo {
        width: 50px !important;
    }
}
